
* {
  box-sizing: border-box;
}

body {
  background: #0b7592 ; 
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: larger;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 50px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 300px;
  width: 300px;
  position: relative;
  transform: scale(1);
  /* background: goldenrod */
}

.circle {
  background-color: #5ea9be;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.gradient-circle {
  background: conic-gradient(
    #ffddd3 0%,
    #f3bfb3 40%,
    #fdf8e2 40%,
    #fdf8e2 60%,
    #9acde0 60%,
    #cbe1ef 100%
  );
  height: 320px;
  width: 320px;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
}

.pointer {
  background-color: #e0afa4;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
  /* background: violet */
}

.pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  animation: rotate 7.5s linear forwards infinite;
  transform-origin: bottom center;
  /* background: red; */
  
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container.grow {
  animation: grow 3s linear forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

.container.shrink {
  animation: shrink 3s linear forwards;
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}

.pulse {
  height: 360px;
  width: 360px;
  border: 0px solid #fff;
  border-radius: 50%;
  position: absolute;
  transform: scale(1);
}


@keyframes pulse {
  0% {
    border: 0px  #fff;
    opacity: 2;
  }
  100% {
    border: 35px solid #fff0;
    opacity: 0;
  }
}

.fade {
  position: absolute;
  animation: pulse 9s linear infinite;
}



  
